# Xcode
.DS_Store
build/
DerivedData/
*.xcuserdatad
*.xcuserdata
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
/.build/
Packages/
/package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Config files
*.plist
